.status-icon {
    font-size: 1.2rem;
  }
  .on-time {
    background-color: lightgreen;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
}

.late {
    background-color: lightcoral;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
}
  .table th, .table td {
    text-align: center;
    vertical-align: middle;
  }
  /* Pagination */
  .pagination {
    justify-content: center;
  }
  .legend {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

table{
    border-radius: 12px !important;
}