.status-icon {
    font-size: 1.2rem;
  }

  
tr{
  height:20px ;
}
  .table th, .table td {
    text-align: center;
    vertical-align: middle;
  }
  /* Pagination */
  .pagination {
    justify-content: center;
  }
  .legend {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.table-style{
  border-radius: 12px !important;
  border: 1px solid rgba(198, 230, 251, 1);
  box-shadow: 0 1px 4px 0 rgba(88, 134, 166, 0.25);
  padding: 20px 0;
}

.table-style  th{
    border-radius: 12px  !important;

}

.td-style{
  height: 10px !important;
}
